<div>
    <!-- <span class="array-container" [ngStyle]="getContainerStyles()"
    *ngFor="let element of array; let currIndex = index"
    [element]="element"
    [max]="max"
    [idx]="currIndex"
    [arraySize]="arraySize"
    [ngStyle]="setVerticalBarStyles()"> -->
    <!-- {{ arraySize }} -->
    <span class="array-container" 
    [ngStyle]="getContainerStyles()"
    (updateColors)="Nana($event)"
    *ngFor="let element of array; let currIndex = index"
      >
            <!-- <p>vertical bar wporks</p> -->
            <span [ngStyle]="setVerticalBarStyles(currIndex)"> {{ element }} </span>
        </span>
    <!-- <app-vertical-bar></app-vertical-bar> -->
</div>

<!-- <div>
    <span class="array-container" [ngStyle]="getContainerStyles()"
        *ngFor="let element of array; let currIndex = index"
        [element]="element"
        [max]="max"
        [idx]="currIndex"
        [arraySize]="arraySize"
        [ngStyle]="setVerticalBarStyles()">
        >
            <span> {{ element }} </span>
        </span>
    {{ arraySize }}
</div> -->