<div class="row" id="controls-bar">
    <div class="col-md-4">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" type="button" class="btn btn-outline-primary" (click)="setArrParams({isRandom: true})"> Generate Random Array </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">More Array Options</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Random Array of specific size</a>
                  <a class="dropdown-item" href="#">Enter Array Input</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">More details</a>
                </div>   
            </li>

        </ul>
    </div>

    <!-- right side of controls bar -->
    <div class="col-md-8">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" type="button" class="btn btn-outline-info" (click)="sortArray(SortType.SelectionSort)">Selection Sort</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" type="button" class="btn btn-outline-info" (click)="sortArray(SortType.BubbleSort)">Bubble Sort</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" type="button" class="btn btn-outline-info" (click)="sortArray(SortType.InsertionSort)">Insertion Sort</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" type="button" class="btn btn-outline-info" (click)="sortArray(SortType.MergeSort)">Merge Sort</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" type="button" class="btn btn-outline-info" (click)="sortArray(SortType.QuickSort)">Quick Sort</a>
            </li>
        </ul>
    </div>

</div>
